table,
tr,
td {
  border: 1px solid black;
  border-collapse: collapse;
}
tr {
  height: 70px;
}
td {
  cursor: pointer;
  width: 70px;
}
.center-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 60vh;
}
.center {
  margin-top: 50px;
  display: inline-block;
}

.centerAlign {
  text-align: center;
}

.alert {
  padding: 20px;
  background-color: #16e01d;
  color: white;
}

.alert-lose {
  padding: 20px;
  background-color: red;
  color: white;
}

.closebtn {
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.restart-button {
  margin-bottom: 10px;
  height: 20px;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  display: inline-block;
  font-size: 16px;
  text-align: center;
  cursor: pointer;
  border: 2px solid transparent;
  border-radius: 4px;
  font-weight: bold;
  color: black;
  background-color: lightcoral;
  border-color: #ccc;
}

.closebtn:hover {
  color: black;
}
